@using Ruse2023.Models.Moderator;
@model ApplicationApprovalModel

<h1>@Model.FirstName @Model.LastName - @Model.PhoneNumber</h1>
<p>@Model.Description</p>
@Model.Approved ? <p>Approved</p> : <p>Declined</p>
<p>@Model.Feedback</p>