@{
    ViewData["Title"] = "Home Page";
}
@model HomePageModel

<div class="text-center">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
    <main class="flex-shrink-0" >
        <section class="header">
        <header class="py-5">
            <div class="container px-5 pb-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-xxl-5">
                        <div class="text-center text-xxl-start">
                            <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Екологичния начин на живот!</span></h1>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <a class="btn btn-success btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" asp-controller="Account" asp-action="Login">Започни</a>
                                }
                                <a class="btn btn-success btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="#aboutme">За нас</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7">
                        <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                            <div class="profile bg-gradient-primary-to-secondary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        </section>
        
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>



    <br />
    <br />
    <h1 class="display-4">Най-продавани продукти</h1>
    <br/>
    <div class="products">
        @foreach (var product in Model.Products)
        {
            <div id="forma" class="card" style="width: 18rem;">
                <div class="card card-cascade narrower">

                    <div class="view view-cascade overlay">
                        <img id="image" class="card-img-top" src="@product.Image"
                             alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body card-body-cascade">
                        <h4 class="font-weight-bold card-title">@product.Name</h4>
                        <p><b>@product.Price Точки</b></p>
                        <a id="butona" asp-controller="Store" asp-action="ProductById" asp-route-id="@product.Id" class="btn btn-success btn-lg px-5 py-3 mx-auto">Купи</a>

                    </div>

                </div>
            </div>

        }
    </div>
    <br />
    <br />
    <h1 class="display-4">Топ клиенти</h1>
    <br/>
    <div class="klient">
        @foreach (var user in Model.Users)
        {
            <div id="forma" class="card" style="width: 18rem;">
                <div class="card card-cascade narrower">

                    <div class="view view-cascade overlay">
                        <img id="snimkanaklient" class="card-img-top" src="https://o.remove.bg/downloads/a046022a-d5b3-4731-92b8-322a7238a659/pngtree-outline-user-icon-png-image_5045523-removebg-preview.png"
                         alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body card-body-cascade">
                        <h4 class="font-weight-bold card-title">@user.FirstName @user.LastName</h4>
                        <p><b>@user.Credits Точки събрани</b></p>

                    </div>

                </div>
            </div>

        }
    </div>
    <br />
    <br />
    <section class="bg-light py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xxl-8">
                    <div class="text-center my-5">
                        <h2 id="aboutme" class="display-5 fw-bolder"><span class="text-gradient d-inline">За  нас</span></h2>
                        <br />
                        <p class="text-muted">
                            Ние сме тук, за да създадем общност от ентусиасти, които са насочени към постигането
                            на по-зелен начин на живот. Нашата цел е да вдъхновим и образоваме хората за екологичните
                            проблеми и да им помогнем да направят информирани решения, които ще допринесат за по-чиста
                            и по-здравословна планета.Точно тук, в нашия екологичен магазин, ние вярваме, че природата
                            заслужава нашето уважение и защита. Нашата мисия е да предложим на нашите клиенти възможност
                            да избират от широка гама от екологично устойчиви продукти, които не само отговарят на техните
                            нужди, но и спомагат за опазването на околната среда.
                        </p>
                        <div class="d-flex justify-content-center fs-2 gap-4">
                            <a class="text-success" href="https://github.com/MarioCSharp/"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<style>
    #id {
        text-align: center;
    }

    html {
        scroll-behavior: smooth;
    }

    .products {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 92%;
    }

    #image {
        width: 287px;
        height: 250px;
    }

    #butona {
        width: 60%;
        height: 40px;
        font-size: 20px;
        display: flex; /* this enables the flexbox model */
        align-items: center; /* this vertically aligns the text in the middle */
        justify-content: center;
    }

    #form {
        border: 2px solid;
        border-radius: 25px;
        padding: 20px; 
    }

    /* klient*/
    .klient {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 92%;
    }

    #snimkanaklient {
        width: 50px;
        height: 50px;
    }

    *{
        margin: 0;
        padding: 0;
    }
</style>
